<?xml version="1.0"?> 
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="../../../../../lib/internal/Magento/Framework/ObjectManager/etc/config.xsd">
    <preference for="Magento\Customer\Controller\Account\CreatePost" type="Iovista\Customization\Controller\Account\CreatePost" />
    <preference for="Magento\Wishlist\Model\ItemCarrier" type="Iovista\Customization\Model\ItemCarrier" />
</config>